<div class="container">
    <div class="row">
        <h1 class="h1 text-center">{{title}}</h1>
        <div class="nav navbar navbar-expand-sm bg-danger">
            <div class="navbar-nav">
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/" >
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Employees List
                    </a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/addEmp">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add Employee
                    </a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/empState">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        State Management
                    </a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/template">
                        <i class="fa fa-asterisk" aria-hidden="true"></i>"
                        Template Forms
                    </a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/reactive">
                        <i class="fa fa-asterisk" aria-hidden="true"></i>"
                        Reactive Forms
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>
