<div class="container">
    <div class="row">
        <h1 class="h1 text-center">{{title}}</h1>
        <div class="nav navbar navbar-expand-sm bg-danger">
            <div class="navbar-nav">
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/" >Employees List</a>
                </li>
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/addEmp">Add Employee</a>
                </li>
            </div>
        </div>
    </div>
</div>
